[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
load-dotenv = "*"
pylint = "*"
django-storages = "*"
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-cors-headers = "*"
dj-database-url = "*"
python-dotenv = "*"
whitenoise = "*"
google-generativeai = "*"
nltk = "*"
psycopg = {extras = ["binary"], version = "*"}
pypdf2 = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
soundfile = "*"
resend = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
gunicorn = "*"
numpy = "<2.0"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
