web: python manage.py migrate && python manage.py collectstatic --noinput && gunicorn BackendProject.wsgi:application --bind 0.0.0.0:$PORT --timeout 900 --workers 1 --worker-connections 1000 --max-requests 100 --max-requests-jitter 10