# Core Django packages
Django==5.2
djangorestframework
djoser
djangorestframework-simplejwt
django-filter
django-cors-headers

# Database
psycopg[binary]
dj-database-url

# Environment and Configuration
python-decouple
python-dotenv
whitenoise

# AI and ML packages
google-generativeai
nltk
PyPDF2

# Media processing
imageio[ffmpeg]
soundfile

# Utilities
resend
dj-rest-auth[with_social]
pygraphviz

# Production server
gunicorn

